@{
    ViewBag.Title = "About";
}
<div>
    <div>
        <h2>About Lil Chef</h2>
        <img class="float-right" src="~/Assets/chef-zay.jpg" height="150" width="150" />
        <h3>Lil Chef is an application made by Isaiah Murray, who was previously, an aspiring chef.</h3>
    </div>
    <div>
        <p>Before financial and health issues had risen in his life, he had worked many jobs in the food industry from catering, to high-end fine dining.</p>
        <p>Now, as a young Software Developer, he has decided to make this web application to pay homage to the "Lil Chef" in him that still holds that passion!</p>
        <br />
        <p>Here you can find a variety of cooking methods, tips and tricks, and even details on various ingredients, to boost the skills for the Lil Chef in you!</p>
        <p>Discover recipes from cooks and chefs from all over, and don't forget to share your own recipes as well!</p>
    </div>
</div>