@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us!</h2>
<h3>Feel free to contact our admins by Email</h3>

<address>
    United States
    <br />
    Carmel, IN
    <br />
    46033
</address>

<address>
    <strong>The One and Only:</strong> <a href="mailto:murray.isaiah13@gmail.com">murray.isaiah13@gmail.com>
</address>