@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lil Chef</h1>
    <p class="lead">Lil Chef is a website for anyone with the desire to better their cooking and cook something new!</p>
    <p><a href="/Home/About/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ingredients Catalog</h2>
        <p>
            Take a look at variety of ingredients too see if they will fit your recipe!
        </p>
        <p><a class="btn btn-default" href="/Ingredients/Index/">Ingredients &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Recipes</h2>
        <p>Find new recipes and take a taste from another cook's perspective!</p>
        <p><a class="btn btn-default" href="/Recipes/Index/">Recipes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn The Basics</h2>
        <p>Browse through our cooking methods and techniques to up your skills in kitchen!</p>
        <p><a class="btn btn-default" href="/CookingMethods/Index/">Techniques &raquo;</a></p>
    </div>
</div>